@font-face {
	font-family: 'skav';
	src: url('D:/General_Folder/New_site_of_eve/fonts/triglavian/trig.eot'); /* IE 9 Compatibility Mode */
	src: url('D:/General_Folder/New_site_of_eve/fonts/triglavian/trig.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('D:/General_Folder/New_site_of_eve/fonts/triglavian/trig.woff2') format('woff2'), /* Super Modern Browsers */
		url('D:/General_Folder/New_site_of_eve/fonts/triglavian/trig.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('D:/General_Folder/Skandinvian_Gods/Font/Runic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('D:/General_Folder/New_site_of_eve/fonts/triglavian/trig#f-trig') format('svg'); /* Chrome < 4, Legacy iOS */
}